

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4D4D4D; }
  html.edu-hub {
    font-family: "adobe-clean",Helvetica,Arial,sans-serif;
    color: #000; }
